<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yvonne Heemeyer</title>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bootstrap.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap core JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function(){
        var windowHeight = $(window).height();
        var mainHeight = $('#main').height();
        var navbarHeight = $('#navigation').height();
        $('#main').css('min-height', windowHeight-navbarHeight);
        $('.footer').css('margin-top', (windowHeight - mainHeight));
      });
    </script>

    <%= yield_content(:head) %>
  </head>

  <body class="<%= @page.to_s %>">

    <div class="navbar" id="navigation">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Yvonne Heemeyer</a>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= @page == :index ? "active" : "" %>"><a href="/">Home</a></li>
            <li class="<%= @page == :about ? "active" : "" %>"><a href="/about">Über mich</a></li>
            <li class="<%= @page == :practice ? "active" : "" %>"><a href="/practice">Praxis</a></li>
            <li class="<%= @page == :contact ? "active" : "" %>"><a href="/contact">Kontakt</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="main" class="container">

      <%= yield %>

      <div class="footer">
        (C) 2013 Yvonne Heemeyer | 
        <a href="/imprint">Impressum</a>
      </div><!-- /.footer -->

    </div><!-- /.container -->
  </body>
</html>
